#calcDisplay{
    width: 310px;
    font-size: 40px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    padding: 10px;
    border: 2px solid black;
    text-align: end;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 40px;
    font-weight: bold;
}

.numpad {
    display: flex;
    align-items: center;
    justify-content: center;
}

 .numeros {
    padding: 10px;
    margin: 10px;
} 

button {
    background-color: lightslategray;
    color: white;
    border: 2px solid black;
    border-radius: 10px;
    font-size: 20px;
    padding: 20px;
    margin: 2px;
    width: 70px;
    height: 70px;
}

#cero {
    width: 226px;
}

.operador {
    width: 100px;
}

#clear {
    width: 226px;
}

#igual {
    width: 100px;
}